@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

:root {
  color-scheme: dark;
}

body {
  background-color: #0B0F19;
  color: #f8fafc;
}
